# Eclipse
.classpath
.project
.cproject
.settings/
bin/
tmp/
obj/
OpenPlayer/.classpath
OpenPlayer/.project
OpenPlayer/OpenPlayer.iml
OpenPlayerDemo/.classpath
OpenPlayerDemo/.project

# Intellij
.idea/
*.iml
*.iws
gen/
out/

# Mac
.DS_Store

# Maven
log/
target/